workflow-recmjCNuNKbFoeWK1.json
{"name":"[n8n] KV - Cloudflare Key-Value Database Full API Integration Workflow","nodes":[{"parameters":{"content":"## List NMs\nto change parameters read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-list-namespaces)","height":254.26094733974475,"width":305,"color":6},"name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2720,1524],"typeVersion":1},{"parameters":{"content":"## Create NM\nto change parameters read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-create-a-namespace)","height":259,"width":289.22425544359976,"color":4},"name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[396,1240],"typeVersion":1},{"parameters":{"content":"## Delete NM of KV (By Name Serach)\nto change anything read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-remove-a-namespace)","height":260.5583291593211,"width":767.2997851806018,"color":3},"name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1319,960],"typeVersion":1},{"parameters":{"method":"DELETE","url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (2)\"].json[\"result\"].find(kv => kv.title === $node[\"Set KV-NM Name (2)\"].json[\"NameSpace\"]).id }}","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","options":{}},"name":"Delete KV","type":"n8n-nodes-base.httpRequest","position":[1920,1060],"notesInFlow":true,"typeVersion":4.1,"notes":"Delete Selected KV"},{"parameters":{"content":"## Rename NM of KV (By Serach)\nto change parameters read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-rename-a-namespace)","height":259,"width":762.4679767633019,"color":4},"name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1321,1240],"typeVersion":1},{"parameters":{"method":"PUT","url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (5)\"].json[\"result\"].find(kv => kv.title === $node[\"KV to Rename\"].json[\"Previous KV Name\"]).id }}","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $('KV to Rename').item.json[\"New KV Name\"] }}"}]},"options":{}},"name":"Delete KV1","type":"n8n-nodes-base.httpRequest","position":[1920,1320],"notesInFlow":true,"typeVersion":4.1,"notes":"/storage/kv/namespaces/"},{"parameters":{"fields":{"values":[{"name":"Previous KV Name","stringValue":"<Enter your previous Namespace name>"},{"name":"New KV Name","stringValue":"<Enter your new Namespace name>"}]},"options":{}},"name":"KV to Rename","type":"n8n-nodes-base.set","position":[1360,1320],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"Account Path (account_identifier)","stringValue":"******"}]},"options":{}},"name":"Account Path","type":"n8n-nodes-base.set","position":[160,1060],"notesInFlow":true,"typeVersion":3.2,"notes":"Required for all nodes"},{"parameters":{"content":"## Delete multiple KV pairs\nto change anything read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-delete-multiple-key-value-pairs)","height":259,"width":838.4149493375248,"color":3},"name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2180,964],"typeVersion":1},{"parameters":{"content":"#  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ **`Cloudflare Key-Value Full API integration Workflow`**\n[![Hetzner Cloud](https://developers.cloudflare.com/assets/kv-write-fdb5578b.svg)](https://www.hetzner.com/cloud)\n##  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ _Integrate your N8N with CF KV Free instead of selfhosting Redis or any RAM based Storages!!_","height":607,"width":1264.141937886304,"color":7},"name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"method":"DELETE","url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (3)\"].json[\"result\"].find(kv => kv.title === $node[\"Set KV-NM Name (3)\"].json[\"NameSpace\"]).id }}/bulk","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendBody":true,"specifyBody":"json","jsonBody":"[   \"key1\",   \"key2\",   \"key3\" ]","options":{}},"name":"Delete KVs inside NM","type":"n8n-nodes-base.httpRequest","position":[2840,1064],"notesInFlow":true,"typeVersion":4.1,"notes":"Delete bulk Keys-Values inside select Namespace"},{"parameters":{"content":"## Write multiple KV pairs\nto change anything read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-write-multiple-key-value-pairs)","height":257.7516694510983,"width":839.99463355761,"color":4},"name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2180,1244],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"<Enter Your Key-Value Namespace Here>"}]},"options":{}},"name":"Create KV-NM","type":"n8n-nodes-base.httpRequest","position":[480,1320],"notesInFlow":true,"typeVersion":4.1,"notes":"Create New Key-Value Namespace"},{"parameters":{"method":"PUT","url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (6)\"].json[\"result\"].find(kv => kv.title === $node[\"Set KV-NM Name (5)\"].json[\"NameSpace\"]).id }}/bulk","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer undefined"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[{\n        \"key\": \"key1\",\n        \"value\": \"Value1\",\n        \"base64\": false,\n        \"expiration\": 1578435000,\n        \"expiration_ttl\": 300\n      },\n      {\n        \"key\": \"key2\",\n        \"value\": \"Value2\",\n        \"base64\": false,\n        \"expiration\": 1578435000,\n        \"expiration_ttl\": 300\n      },\n      {\n        \"key\": \"key3\",\n        \"value\": \"Value3\",\n        \"base64\": false,\n        \"expiration\": 1578435000,\n        \"expiration_ttl\": 300\n      }]","options":{}},"name":"Write KVs inside NM","type":"n8n-nodes-base.httpRequest","position":[2840,1340],"notesInFlow":true,"typeVersion":4.1,"notes":"/storage/kv/namespaces/"},{"parameters":{"content":"## List NM-Keys\nto change anything read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-list-a-namespace'-s-keys)","height":254.59230101092814,"width":513,"color":6},"name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2180,1527],"typeVersion":1},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (9)\"].json[\"result\"].find(kv => kv.title === $node[\"Set KV-NM Name (8)\"].json[\"NameSpace\"]).id }}/keys","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer undefined"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[{\n        \"key\": \"key1\",\n        \"value\": \"Value1\",\n        \"base64\": false,\n        \"expiration\": 1578435000,\n        \"expiration_ttl\": 300\n      },\n      {\n        \"key\": \"key2\",\n        \"value\": \"Value2\",\n        \"base64\": false,\n        \"expiration\": 1578435000,\n        \"expiration_ttl\": 300\n      },\n      {\n        \"key\": \"key3\",\n        \"value\": \"Value3\",\n        \"base64\": false,\n        \"expiration\": 1578435000,\n        \"expiration_ttl\": 300\n      }]","options":{}},"name":"-Get Keys inside NM","type":"n8n-nodes-base.httpRequest","position":[2540,1620],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Keys"},{"parameters":{"content":"##     ‌ ‌‌‌‌ ‌ ‌ ‌ ‌‌‌‌ ‌   Bulk Actions","height":920.8960116234484,"width":878.0751770171937,"color":7},"name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[2160,900],"typeVersion":1},{"parameters":{"content":"## Read MD in spesific key\nto change anything read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-read-the-metadata-for-a-key)","height":257.7516694510983,"width":755.5520725546517,"color":6},"name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1325,1520],"typeVersion":1},{"parameters":{"content":"## Delete KV\nto change anything read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-delete-key-value-pair)","height":259,"width":828.445488674341,"color":3},"name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[400,960],"typeVersion":1},{"parameters":{"method":"DELETE","url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (1)\"].json[\"result\"].find(kv => kv.title === $node[\"Set KV-NM Name (1)\"].json[\"NameSpace\"]).id }}/values/{{ $('Set KV-NM Name (1)').item.json['Key Name'] }}","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","options":{}},"name":"Delete KV inside NM","type":"n8n-nodes-base.httpRequest","position":[1040,1060],"notesInFlow":true,"typeVersion":4.1,"notes":"Delete selected KV in NM"},{"parameters":{"content":"## Read KV\nto change anything read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-read-key-value-pair)","height":259,"width":834.9104620941396,"color":6},"name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[394,1520],"typeVersion":1},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (7)\"].json[\"result\"].find(kv => kv.title === $node[\"Set KV-NM Name (6)\"].json[\"NameSpace\"]).id }}/values/{{ $('Set KV-NM Name (6)').item.json['Key Name'] }}","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","options":{"response":{"response":{"responseFormat":"text","outputPropertyName":"={{ $('Set KV-NM Name (6)').item.json['Key Name'] }}"}}}},"name":"Read Value Of KV In NM","type":"n8n-nodes-base.httpRequest","position":[1060,1620],"notesInFlow":true,"typeVersion":4.1,"notes":"/storage/kv/namespaces/"},{"parameters":{"content":"## Write KV\nto change anything read [Docs](https://developers.cloudflare.com/api/operations/workers-kv-namespace-write-key-value-pair-with-metadata)","height":263.788476053995,"width":531.3495902609195,"color":4},"name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[700,1240],"typeVersion":1},{"parameters":{"content":"##     ‌ ‌‌‌‌ ‌ ‌ ‌ Specific Actions","height":917.7366431832784,"width":817.7528311355856,"color":7},"name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1295,900],"typeVersion":1},{"parameters":{"content":"##     ‌ ‌‌‌‌ ‌ ‌ ‌  ‌‌‌‌ ‌ ‌‌‌‌ ‌ ‌ ‌  ‌ ‌ Single Actions","height":913.7927070441785,"width":876.5452405896403,"color":7},"name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[381,904],"typeVersion":1},{"parameters":{"content":"## This n8n template provides a seamless and efficient way to manage Key-Value (KV) pairs in Cloudflare's KV storage. all you need just take the part of action you want then use it with your workflow, keep in mind that the **_`Account Path`_** node is required for all actions as it's used to set the path of account, other authentication values is automatically set by n8n pre configured cloudflare api.\n ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌   ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌   ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ![Cloudflare Logo](https://cf-assets.www.cloudflare.com/slt3lc6tev37/7bIgGp4hk4SFO0o3SBbOKJ/546b2df59d9ef1ac226d70c40b17d019/Cloudflare-logo-transparent-v-rgb_thumbnail.png)\n\n\n# shortcuts:\n- ## **`NM`** or **`NMs`** =  _**`NameSpace/s`**_\n- ## **`KV`** or **`KVs`** = _**`Key/s - Value/s`**_\n- ## **`MD`** = _**`MetaData`**_","height":607,"width":1389.3461161034518,"color":7},"name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[1640,240],"typeVersion":1},{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[-60,1060],"notesInFlow":true,"typeVersion":1,"notes":"Replace Me"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (1)","type":"n8n-nodes-base.httpRequest","position":[740,1060],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"fields":{"values":[{"name":"NameSpace","stringValue":"<Enter Your Key-Value Namespace Here>"}]},"options":{}},"name":"Set KV-NM Name (2)","type":"n8n-nodes-base.set","position":[1360,1060],"notesInFlow":true,"typeVersion":3.2,"notes":"Set Key-Value Namespace for deleting"},{"parameters":{"fields":{"values":[{"name":"NameSpace","stringValue":"<Enter Your Key-Value Namespace Here>"},{"name":"Key Name","stringValue":"<Enter Your Key Name Here>"}]},"options":{}},"name":"Set KV-NM Name (1)","type":"n8n-nodes-base.set","position":[480,1060],"notesInFlow":true,"typeVersion":3.2,"notes":"Set Key-Value Namespace for deleting"},{"parameters":{"fields":{"values":[{"name":"NameSpace","stringValue":"Set Key-Value Namespace for "}]},"options":{}},"name":"Set KV-NM Name (3)","type":"n8n-nodes-base.set","position":[2240,1064],"notesInFlow":true,"typeVersion":3.2,"notes":"Set Key-Value Namespace for Deleting"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (2)","type":"n8n-nodes-base.httpRequest","position":[1640,1060],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (3)","type":"n8n-nodes-base.httpRequest","position":[2560,1064],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"fields":{"values":[{"name":"NameSpace","stringValue":"<Enter Your Key-Value Namespace Here>"},{"name":"Key Name","stringValue":"<Enter Your Key-Value Name Here>"}]},"options":{}},"name":"Set KV-NM Name (4)","type":"n8n-nodes-base.set","position":[760,1320],"notesInFlow":true,"typeVersion":3.2,"notes":"Set Key-Value Namespace for kv"},{"parameters":{"method":"PUT","url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (4)\"].json[\"result\"].find(kv => kv.title === $node[\"Set KV-NM Name (4)\"].json[\"NameSpace\"]).id }}/values/{{ $('Set KV-NM Name (4)').item.json['Key Name'] }}","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"value","value":"Some Value"},{"name":"metadata","value":"{\"someMetadataKey\": \"someMetadataValue\"}"}]},"options":{}},"name":"Write V & MD of KV In NM","type":"n8n-nodes-base.httpRequest","position":[1080,1320],"notesInFlow":true,"typeVersion":4.1,"notes":"Put value with Metadata to NM key"},{"parameters":{"fields":{"values":[{"name":"NameSpace","stringValue":"<Enter Your Key-Value Namespace Here>"}]},"options":{}},"name":"Set KV-NM Name (5)","type":"n8n-nodes-base.set","position":[2240,1340],"notesInFlow":false,"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"NameSpace","stringValue":"<Enter Your Key-Value Namespace Here>"},{"name":"Key Name","stringValue":"<Enter Your Key-Value Name Here>"}]},"options":{}},"name":"Set KV-NM Name (6)","type":"n8n-nodes-base.set","position":[480,1620],"notesInFlow":true,"typeVersion":3.2,"notes":"Set Key-Value Namespace"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (4)","type":"n8n-nodes-base.httpRequest","position":[920,1320],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (5)","type":"n8n-nodes-base.httpRequest","position":[1640,1320],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (6)","type":"n8n-nodes-base.httpRequest","position":[2560,1340],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (7)","type":"n8n-nodes-base.httpRequest","position":[740,1620],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (8)","type":"n8n-nodes-base.httpRequest","position":[1640,1620],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (9)","type":"n8n-nodes-base.httpRequest","position":[2380,1620],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $json[\"Account Path (account_identifier)\"] }}/storage/kv/namespaces","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"direction","value":"asc"},{"name":"order","value":"id"},{"name":"page","value":"1"},{"name":"per_page","value":"20"}]},"options":{}},"name":"List KV-NMs (10)","type":"n8n-nodes-base.httpRequest","position":[2820,1615],"notesInFlow":true,"typeVersion":4.1,"notes":"Get Available Namespaces"},{"parameters":{"fields":{"values":[{"name":"NameSpace","stringValue":"<Enter Your Key-Value Namespace Here>"},{"name":"Key Name","stringValue":"<Enter Your Key-Value Name Here>"}]},"options":{}},"name":"Set KV-NM Name (7)","type":"n8n-nodes-base.set","position":[1360,1620],"notesInFlow":false,"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"NameSpace","stringValue":"<Enter Your Key-Value Namespace Here>"}]},"options":{}},"name":"Set KV-NM Name (8)","type":"n8n-nodes-base.set","position":[2220,1620],"notesInFlow":true,"typeVersion":3.2,"notes":"Set Key-Value Namespace"},{"parameters":{"url":"=https://api.cloudflare.com/client/v4/accounts/{{ $('Account Path').params[\"fields\"][\"values\"][0][\"stringValue\"] }}/storage/kv/namespaces/{{ $node[\"List KV-NMs (8)\"].json[\"result\"].find(kv => kv.title === $node[\"Set KV-NM Name (7)\"].json[\"NameSpace\"]).id }}/metadata/{{ $('Set KV-NM Name (7)').item.json['Key Name'] }}","authentication":"predefinedCredentialType","nodeCredentialType":"cloudflareApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer undefined"}]},"options":{}},"name":"Read MD from Key","type":"n8n-nodes-base.httpRequest","position":[1920,1620],"notesInFlow":true,"typeVersion":4.1,"notes":"/storage/kv/namespaces/"}],"connections":{"Account Path":{"main":[[{"node":"Create KV-NM","type":"main","index":0}]]},"KV to Rename":{"main":[[{"node":"List KV-NMs (5)","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Account Path","type":"main","index":0}]]},"List KV-NMs (1)":{"main":[[{"node":"Delete KV inside NM","type":"main","index":0}]]},"List KV-NMs (2)":{"main":[[{"node":"Delete KV","type":"main","index":0}]]},"List KV-NMs (3)":{"main":[[{"node":"Delete KVs inside NM","type":"main","index":0}]]},"List KV-NMs (4)":{"main":[[{"node":"Write V & MD of KV In NM","type":"main","index":0}]]},"List KV-NMs (5)":{"main":[[{"node":"Delete KV1","type":"main","index":0}]]},"List KV-NMs (6)":{"main":[[{"node":"Write KVs inside NM","type":"main","index":0}]]},"List KV-NMs (7)":{"main":[[{"node":"Read Value Of KV In NM","type":"main","index":0}]]},"List KV-NMs (8)":{"main":[[{"node":"Read MD from Key","type":"main","index":0}]]},"List KV-NMs (9)":{"main":[[{"node":"-Get Keys inside NM","type":"main","index":0}]]},"Set KV-NM Name (1)":{"main":[[{"node":"List KV-NMs (1)","type":"main","index":0}]]},"Set KV-NM Name (2)":{"main":[[{"node":"List KV-NMs (2)","type":"main","index":0}]]},"Set KV-NM Name (3)":{"main":[[{"node":"List KV-NMs (3)","type":"main","index":0}]]},"Set KV-NM Name (4)":{"main":[[{"node":"List KV-NMs (4)","type":"main","index":0}]]},"Set KV-NM Name (5)":{"main":[[{"node":"List KV-NMs (6)","type":"main","index":0}]]},"Set KV-NM Name (6)":{"main":[[{"node":"List KV-NMs (7)","type":"main","index":0}]]},"Set KV-NM Name (7)":{"main":[[{"node":"List KV-NMs (8)","type":"main","index":0}]]},"Set KV-NM Name (8)":{"main":[[{"node":"List KV-NMs (9)","type":"main","index":0}]]}},"active":"false","settings":{"executionOrder":"v1","timezone":"Europe/Berlin","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"errorWorkflow":""},"staticData":"","pinData":{},"meta":{"templateCredsSetupCompleted":false},"tags":[{"createdAt":"2024-04-09T15:21:25.994Z","updatedAt":"2024-04-09T15:21:25.994Z","id":"SHR0cFJlcXVlc3Q","name":"HttpRequest"},{"createdAt":"2024-04-09T15:21:25.994Z","updatedAt":"2024-04-09T15:21:25.994Z","id":"TWFudWFsVHJpZ2dlcg","name":"ManualTrigger"}]}